spring:
  application:
    name : homedatazip

  mvc:
    contentnegotiation:
      default-content-type: application/json  # 모든 응답의 기본은 JSON
      favor-parameter: false

  datasource:
    url: jdbc:mysql://localhost:3306/home_db
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  batch:
    trade-rent:
      enabled: true
      days-of-month: [ 25, 26, 27 ]
      window-months: 2
    job:
      enabled: false 
    jdbc:
      initialize-schema: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: localhost
      port: 6379

  ai:
    ollama:
      base-url: http://localhost:11434  # Ollama 기본 주소
      chat:
        model: llama3

cors:
  allowed-origins:
    - http://localhost:5173
    - https://www.yourdomain.com
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
  max-age: 3600

jwt:
  access-secret-key: ${JWT_ACCESS_SECRET}
  refresh-secret-key: ${JWT_REFRESH_SECRET}
  access-token-expiration: ${JWT_ACCESS_EXP_SEC}
  refresh-token-expiration: ${JWT_REFRESH_EXP_SEC}

payment:
  toss:
    secret-key: ${PAYMENT_TOSS_SECRET_KEY}
    client-key: ${PAYMENT_TOSS_CLIENT_KEY}
    billing-success-url: http://localhost:5173/payments/billing/success
    billing-fail-url: http://localhost:5173/payments/billing/fail

api:
  data-go-kr:
    service-key: ${DATA_GO_KR_SERVICE_KEY}
  data:
    hospital:
      key: ${HOSPITAL_SERVICE_KEY}

rent-api:
  base-url: "http://apis.data.go.kr/1613000/RTMSDataSvcAptRent"
  path: "/getRTMSDataSvcAptRent"
  service-key: api-service-key
  num-of-rows: 1000
  timeout-seconds: 15

kakao:
  api:
    key: ${KAKAO_API_KEY}
    url: https://dapi.kakao.com

batch:
  backoff:
    external-api: 2000

seoul:
  openapi:
    base-url: http://openapi.seoul.go.kr:8088
    key: ${SEOUL_OPENAPI_KEY}
    type: json
    service: ${SEOUL_OPENAPI_SERVICE}

# OpenAPI 학교 목록 (Quartz - 매일 2시 10분)
school:
  openapi:
    key: ${SCHOOL_OPENAPI_KEY:}
    sync:
      cron: ${SCHOOL_OPENAPI_SYNC_CRON:0 30 4 * * ?}

# OpenAPI 지하철 역 목록 URL (Quartz - 매일 2시)
subway:
  openapi:
    url: ${SUBWAY_OPENAPI_URL:}
    sync:
      cron: ${SUBWAY_OPENAPI_SYNC_CRON:0 0 2 * * ?}

# 아파트 - 지하철&학교 거리 (Quartz - 매일 3시, 4시)
apartment:
  subway-distance:
    sync:
      cron: ${APARTMENT_SUBWAY_DISTANCE_SYNC_CRON:0 0 3 * * ?}
  school-distance:
    sync:
      cron: ${APARTMENT_SCHOOL_DISTANCE_SYNC_CRON:0 0 4 * * ?}