spring:
  application:
    name : homedatazip

  mvc:
    contentnegotiation:
      default-content-type: application/json  # 모든 응답의 기본은 JSON
      favor-parameter: false

  datasource:
    url: jdbc:mysql://localhost:3306/home_db
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  batch:
    trade-rent:
      enabled: true
      days-of-month: [ 25, 26, 27 ]
      window-months: 2
    job:
      enabled: false 
    jdbc:
      initialize-schema: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: localhost
      port: 6379

  ai:
    ollama:
      base-url: http://localhost:11434  # Ollama 기본 주소
      chat:
        model: llama3

cors:
  allowed-origins:
    - http://localhost:5173
    - https://www.yourdomain.com
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
  max-age: 3600

jwt:
  access-secret-key: ${JWT_ACCESS_SECRET}
  refresh-secret-key: ${JWT_REFRESH_SECRET}
  access-token-expiration: ${JWT_ACCESS_EXP_SEC}
  refresh-token-expiration: ${JWT_REFRESH_EXP_SEC}

payment:
  toss:
    secret-key: ${PAYMENT_TOSS_SECRET_KEY}
    client-key: ${PAYMENT_TOSS_CLIENT_KEY}
    billing-success-url: http://localhost:5173/payments/billing/success
    billing-fail-url: http://localhost:5173/payments/billing/fail
api:
  data-go-kr:
    service-key: ${DATA_GO_KR_SERVICE_KEY}

rent-api:
  base-url: "http://apis.data.go.kr/1613000/RTMSDataSvcAptRent"
  path: "/getRTMSDataSvcAptRent"
  service-key: e04a6e5213127baba66ac59e4bb6f38bad7bbb8617f0a9c17f5374d3108462bc
  num-of-rows: 1000
  timeout-seconds: 15

kakao:
  api:
    key: ${KAKAO_API_KEY}
    url: https://dapi.kakao.com

seoul:
  openapi:
    base-url: http://openapi.seoul.go.kr:8088
    key: ${SEOUL_OPENAPI_KEY}
    type: json
    service: ${SEOUL_OPENAPI_SERVICE}
