HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/application-*.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .env ###
.env
.env.dev
.env.local
.env.*.local

### application-dev.yml
**/application-dev.yml

# resources 설정 파일
src/main/resources/application.yaml
src/main/resources/application-*.yaml
src/main/resources/data.sql

###Test폴더
../test/

### test용 html
src/main/resources/static/*.html